@font-face {
    font-family: 'anime';
    src: url(./font/JandaManateeSolid.ttf);
}
  .navbar-brand {
    font-family: 'anime';
}
.divider-small {
    width: 30px;
    background-color: rgb(73, 73, 73);
    height: 3px;
}

.range-field input {
    width: 100%;
}  

.tri {
    width: 13%;
    min-width: 200px;
}

.panier-item {
    max-height: 200px;
    overflow: auto;
}